@import "tailwindcss";

:root {
  color-scheme: dark;
}

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #1e293b;
  --font-sans: 'Inter', sans-serif;

  /* Gruvbox Palette */
  --color-gruv-bg-hard: #1d2021;
  --color-gruv-bg-medium: #282828;
  --color-gruv-bg-soft: #32302f;
  --color-gruv-fg: #ebdbb2;
  --color-gruv-red: #fb4934;
  --color-gruv-green: #b8bb26;
  --color-gruv-yellow: #fabd2f;
  --color-gruv-blue: #83a598;
  --color-gruv-purple: #d3869b;
  --color-gruv-aqua: #8ec07c;
  --color-gruv-orange: #fe8019;
  --color-gruv-gray: #a89984;
}

body {
  @apply bg-gruv-bg-hard text-gruv-fg;
}

@layer utilities {
  .liquid-glass {
    --c-glass: #282828;
    /* gruv-bg-medium */
    --c-light: #ebdbb2;
    /* gruv-fg */
    --c-dark: #1d2021;
    /* gruv-bg-hard */
    --glass-reflex-dark: 2;
    --glass-reflex-light: 0.1;
    --saturation: 100%;

    background-color: color-mix(in srgb, var(--c-glass) 80%, transparent);
    backdrop-filter: blur(8px);
    box-shadow:
      inset 0 0 0 1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 10%), transparent),
      inset 0px 3px 4px -2px color-mix(in srgb, var(--c-dark) calc(var(--glass-reflex-dark) * 20%), transparent);
  }

  .liquid-pill {
    --c-glass: #fe8019;
    /* gruv-orange */
    --c-light: #fabd2f;
    /* gruv-yellow */
    --c-dark: #d65d0e;
    /* gruv-orange-dark-ish */
    --glass-reflex-dark: 2;
    --glass-reflex-light: 0.3;

    background-color: color-mix(in srgb, var(--c-glass) 20%, transparent);
    box-shadow:
      inset 0 0 0 1px color-mix(in srgb, var(--c-light) calc(var(--glass-reflex-light) * 20%), transparent);
  }
}